*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    padding: 0px;
    color: #2d3846;
    text-decoration: none;
}
.flex{
    display: flex;
}
.nav-bar {
        --text: #2d3846;
        --logo: #2d3846;
        --background: #f9f9fa;
        /* --border-color: #c8d2db; */
}
.nav{
    width: 100%;
    padding: 18px 18px;
    background-color: var(--background);
    font-family: Fira Sans;
}
.bar{
    /* margin-left: -45px; */
    margin-right: 5px;
    margin-left: 140px;
    max-width: 75em;
    margin-bottom: 20px;
}
.align-items-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
.logo h1{
    font-size: 40px;
    background-color: #f9f9fa;
    max-width: 10px;
    margin-left: -10px;
    margin-right: 10px;
}
.logo-1 {
    /* font-size: 40px; */
    background-color: #f9f9fa;
    /* max-width: 10px; */
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 70%;
}
.ul-bar{
    text-decoration: none;
    
}
.nav-button{
    padding: 23px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text);
    text-decoration: none;
    margin-right: -15px;
    margin-bottom: -34px;
    margin-left: -2px;
    font-weight: 500;
}
.go-pro{
    height: 27px;
    margin-right: 8px;
    padding: 25px 38px;
    border-radius: 4px;
    background-color: #fbb461;
    cursor: pointer;
    border-color: #fbb461;
    margin-bottom: 10px;
    margin-top: -15px;
    box-shadow: none;
    border: none;
}
.go-pro1{
    font-weight: bold;
    font-size: 15px;
    color: #6a4315;
    width: 60px;
    padding-left: 10px;
}
.gap-15{
    gap: 15px;
}
.p-cube{
    width: 20px;
    padding-top: 5px;
    padding-bottom: -48px;
    padding-left: 10px;
}
.nav-3{
    margin-left: 10px;
    margin-right: 20px;
}
.cube-1{
    /* padding-left: 30px; */
    padding-right: 70px;
}
.span-1{
    font-weight: bold;
    font-size: medium;
    padding-bottom: -48px;
    margin-bottom: -35px;
}
.overflow{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
.user{
    position: relative;
    padding-right: 30px;
}
.png-1{
    width: 135px;
    border-radius: 50%;
}
.web-icon{
    color: #fff;
}
.icon-1{
    background-color: rgb(229, 77, 38);
    width: 56px;
    height: 56px;
    border-radius: 4px;
    margin-right: 11px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
.user-10{
    font-weight: 600;
    margin-top: 20px;
}
.user-1{
    position: absolute;
    bottom: 2px;
    right: 15px;
    padding-right: 20px;
}
.user-avatar-2{
    padding-right: 60px;
    padding-bottom: -60px;
    margin-left: -40px;
    margin-top: 10px;
}
#main-element{
    position: relative;
    background-color: #f9f9fa;
    height: 300vh;
    width: 100vw;
}
.main{
    background-color: rgb(107, 127, 153);
    width: 100%;
    height: 20em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    left: 25px;
    right: -45px;
    margin-left: -30px;
    margin-right: -60px;
    padding-right: 150px;
    padding-left: -120px;
}
.main-1{
    padding-right: 80px;
    margin-left: 280px;
    margin-right: -100px;
    right: -40px;
    left: 150px;
    margin-bottom: 50px;
}
.body-1{
    height: 96px;
    width: 100%;
    background-color: #2d3846;
    border-radius: 8px;
    margin-bottom: 32px;
    /* padding: 20px 28px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 6px;
    box-sizing: border-box;
    margin-top: -80px;
    margin-bottom: 40px;
    margin-right: 50px;
}
.body-div1{
    margin-left: -50px;
    margin-right: 30px;
    padding-right: 60px;
}
.body-div2{
    margin-left: -30px;
    margin-right: 90px;
    padding-right: 30px;
}
.body-img1{
    /* padding-bottom: 40px; */
    margin-bottom: 15px;
    margin-left: -30px;
    margin-right: 90px;
    /* padding-right: 60px; */
}
.body-p1{
    color: #fff;
    font-size: 19px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.body-p2{
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
}
.span-1{
    background: #fbb461;
    border-radius: 100px;
    padding: 1px 5px;
    margin-left: 3px;
    font-weight: 700;
    font-size: 20px;
    color: #6a4315;
}
.span-2{
    font-weight: 700;
    font-size: 16px;
}
.user-2{
    padding-bottom: 10px;
    
}
.body-button{
    background: #fbb461;
    color: #6a4315;
    height: 48px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: #2d3846;
}
.img5{
    background-color: rgb(71, 127, 248);
    border-radius: 50%;
    /* padding-bottom: 10px; */
    float: left;
    padding: 2px 2px;
    /* margin-right: 25px; */
    margin-left: 10px;
}
.img6{
    border-radius: 50%;
}
.img7{
    margin-left: 5px;
    margin-top: 7px;
    width: 200px;
}
.anchor-1{
    cursor: pointer;
    padding-bottom: 15px;
}
.anchor-2{
    cursor: pointer;
    padding-bottom: 15px;
}
.anchor-3{
    cursor: pointer;
    padding-bottom: 10px;
}
.course-1{
    margin: 16px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
    width: 200px;
    margin-left: 12px;
}
.course-2{
    margin: 1px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
    width: 200px;
    margin-left: 12px;
}
.course-bar1{
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #2d3846;
    width: 200px;
    /* margin-bottom: 4px; */
}
.course-bar2{
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* color: #2d3846; */
    width: 200px;
    margin-right: 60px;
    padding-bottom: 40px;
}
.course-span1{
    margin-right: 15px;
    margin-left: 7px;
    padding-right: 20px;
    font-weight: 700;
    /* margin-top: -72px; */
}
.course-span2{
    /* padding-right: -20px; */
    padding-bottom: 5px;
    font-weight: 700;
    /* margin-top: -72px; */
}
.p-icon1{
    color: #2d3846;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 4px;
    overflow: hidden;
    font-weight: 700;
    margin-right: 65px;
}
.p-icon2{
    font-size: 12px;
    line-height: 130%;
    color: #6b7f99;
    margin-right: 30px;
}
.h3-1{
    padding: 20px 95px 0 5px;
    margin-left: -30px;
}
.p1{
    border: 4px solid #fff;
    border-width: 2px;
    border-radius: 10px;
    padding: 15px 79px 20px 20px;
    margin-left: 50vw;
    margin-top: 0px;
    /* margin-bottom: 300px; */
    background-color: white;
    width: 100%;
    font-weight: 600;
}
.p2{
    border: 4px solid #fff;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    margin-left: 56vw;
    margin-top: 7em;
    background-color: white;
    /* width: 50vw; */
    /* height: 200px; */
    font-weight: 600;
}
.p3{
    border: 4px solid #fff;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 20px 40px 30px;
    margin-left: 56vw;
    margin-top: 2em;
    background-color: white;
    font-weight: 600;
}
.p4{
    border: 4px solid #fff;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 20px 40px 30px;
    margin-left: 84vw;
    margin-top: 7em;
    background-color: white;
    font-weight: 600;
    width: 23vw;
}
.p5{
    border: 4px solid #fff;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 20px 30px 27px;
    margin-left: 84vw;
    margin-top: 2em;
    background-color: white;
    font-weight: 600;
    width: 23vw;
    overflow-y: inherit;
}
.coach{
    padding-bottom: 16px;
}
.coach-title{
    color: #2d3846;
    font-weight: 650;
    font-size: 20px;
    line-height: 120%;
}
.coach-horizontal{
    overflow: auto;
    position: relative;
    /* height: 90%; */
    border-radius: 8px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.coach-horizontal::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.coach-1{
    display: inline-flex;
    margin-right: 30px;
    background-color: #f9f9fa;
    padding: 20px 50px 20px 20px;
    /* width: 18em; */
}
.coach-container-1{
    padding-right: 16px;
}
.coach-item1{
    background-color: #eaf0f3;
    border-radius: 8px;
    border: 2px solid #eaf0f3;
    padding: 16px;
    width: 267px;
    height: 100%;
}
.coach-body{
    margin-bottom: 16px;
}
.coach-head{
    color: #2d3846;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    margin-bottom: 4px;
    width: 100%;
}
.c-tag1{
    background: #2493df;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    border-radius: 20px;
    padding: 4px 8px;
    margin-right: 8px;
}
.c-tag2{
    background: #ecaa00;
    color: #6f5512;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    border-radius: 20px;
    padding: 4px 8px;
    margin-right: 8px;
}
.coach-description{
    font-size: 12px;
    line-height: 1.4;
    color: #6b7f99;
    margin-bottom: 8px;
    max-height: 52px;
    height: 50.4px;
    overflow: hidden;
}
.coach-icon{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-color: #f35843;
    border-radius: 4px;
}
.coach-button{
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 120%;
    padding: 0;
    color: #f9f9fa;
    background-color: #2493df;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.img-8{
    border-radius: 4px;
}
.span-3{
    height: 18px;
    width: 18px;
    margin: 0 8px;
}
.p-coach{
    font-size: 12px;
    line-height: 150%;
    color: #6b7f99;
    padding-right: 16px;
}
.cb-1{
    color: #fff;
}
.button-4{
    color: #fff;
    cursor: default;
    pointer-events: none;
    border: none;
    background-color: #fff;
}
.content-1{
    height: 96px;
    border-radius: 8px;
    width: 50vw;
    box-sizing: border-box;
}
.content-2{
    height: 96px;
    border-radius: 8px;
    width: 200px;
    box-sizing: border-box;
}
.badge-items{
    margin: -4px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    grid-gap: 13px;
}
.b-img1{
    background-color: rgb(72, 80, 181);
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 8px;
}
.b-img2{
    background-color: rgb(200, 210, 219);
    border-radius: 8px;
}
.bg-button1{
    border: none;
    cursor: pointer;
    background-color: #fff;
}
.user-6{
    font-size: 20px;
    color: #2d3846;
    margin-bottom: 16px;
}
.user-7{
    border: 1px solid #c8d2db;
    border-radius: 8px;
    /* padding: 20px 40px; */
    padding: 19px 15px;
    background-color: transparent;
    width: 104%;
}
.user-8{
    padding: 0 20px;
    font-size: 16px;
    color: #f9f9fa;
    background-color: #2493df;
    border: none;
    font-weight: 600;
}
.user-9{
    color: #2d3846;
    font-weight: 700;
    font-size: 20px;
    margin-right: 75px;
    margin-bottom: 16px;
    margin-left: 1px;
}
.user-11{
    color: #2d3846;
    font-weight: 700;
    font-size: 20px;
    margin-right: 75px;
    margin-bottom: 35px;
    margin-left: -5px;
}
.user-12{
    margin-bottom: 45px;
}
.button-1{
    cursor: pointer;
    color: #2493df;
    background: none;
    border: none;
    font-size: 100%;
    margin-left: -25px;
    /* margin-right: 5px; */
    margin-bottom: 10px;
    font-weight: 600;
}
.button-2{
    height: 32px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -10px;
    color: #2493df;
    background-color: #f9f9fa;
    border: 1px solid #2493df;
    padding: 0 60px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.button-3{
    height: 32px;
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: -20px;
    color: #2493df;
    background-color: #f9f9fa;
    border: 1px solid #2493df;
    padding: 0 60px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.text-white{
    color: white;
    padding-bottom: 6px;
    font-weight: 600;
}
a {
    text-decoration: none;
}
.h2{
    font-weight: 700;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.play-png{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    float: right;
    /* margin-left: 35px; */
    /* margin-right: 90px; */
    /* padding-left: 0px; */
}
.pg-1{
    margin-left: 1px;
    margin-top: -9px;
}
.pg-2{
    margin-left: 1px;
    margin-top: -9px;
}
.pg-3{
    margin-left: 1px;
    margin-top: -9px;
}
.progress{
    width: 100%;
    background: #c8d2db;
    border-radius: 4px;
    height: 8px;
}
.gap-10{
    gap: 10px;
}
.gap-7{
    gap: 7px;
}